{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div id="header">
        <span class="logo">
            <a href="{% url 'dashboard' %}">Bookmarks</a>
        </span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == 'dashboard' %}class="selected"{% endif %}>
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li {% if section == 'images' %}class="selected"{% endif %}>
                    <a href="images">Images</a>
                </li>
                <li {% if section == 'people' %}class="selected"{% endif %}>
                    <a href="#">People</a>
                </li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }},
                {% if request.user.is_staff %}
                    <a href="{% url 'admin:index' %}">Admin Page</a>
                {% endif %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Log-in</a>
            {% endif %}
        </span>
    </div>

    {% if messages %}

        {% for message in messages %}

            <ul class="messages">
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">x</a>
                </li>
            </ul>

        {% endfor %}

    {% endif %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

<script>
    {#скрываем сообщение#}
    const message = document.querySelector('.close');
    message.addEventListener('click', () => {
    	message.closest('li').style.display = 'none';
    })
</script>



{##}
{#<script>#}
{#  window.fbAsyncInit = function() {#}
{#    FB.init({#}
{#      appId      : '{your-app-id}',#}
{#      cookie     : true,#}
{#      xfbml      : true,#}
{#      version    : '{api-version}'#}
{#    });#}
{##}
{#    FB.AppEvents.logPageView();#}
{##}
{#  };#}
{##}
{#  (function(d, s, id){#}
{#     var js, fjs = d.getElementsByTagName(s)[0];#}
{#     if (d.getElementById(id)) {return;}#}
{#     js = d.createElement(s); js.id = id;#}
{#     js.src = "https://connect.facebook.net/en_US/sdk.js";#}
{#     fjs.parentNode.insertBefore(js, fjs);#}
{#   }(document, 'script', 'facebook-jssdk'));#}
{#</script>#}